<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/dist/base.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/particle.css') }}">
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
</head>

<body class="font-custom bg-custom-dark text-custom-light flex flex-col min-h-screen">

  <div class="content-with-paticles flex-grow">
    <div id="particles-js"></div>


    <main class="container mx-auto py-10">
      {% block content %}{% endblock %}
    </main>
  </div>
  <footer class="bg-gray-800 text-white text-center py-4">
    &copy; 2024 Tom Moldon | <a class="hover:text-blue-400" href="{{ url_for('admin.login') }}">Admin</a>
  </footer>
  <script src="{{ url_for('static', filename='js/particle.js') }}"></script>
</body>

</html>