{% extends "base.html" %}
{% block title %}Portfolio - Tom{% endblock %}

{% block content %}
<a href="{{ url_for('contact') }}" class="back-button"><</a>
<a href="{{ url_for('portfolio') }}" class="forward-button">></a>
<div class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-4xl mb-4">Hello, my name is <a href="https://github.com/rustedorc" class="text-4xl mb-4 text-white hover:text-blue-300">Tom</a></h1>
  <div class="text-xl">
    <a href="{{ url_for('portfolio') }}" class="text-custom-light hover:text-blue-400">Portfolio</a>
    <a href="{{ url_for('blog') }}" class="text-custom-light hover:text-blue-400">Blog</a>
    <a href="{{ url_for('contact') }}" class="text-custom-light hover:text-blue-400">Contact</a>
  </div>
</div>
{% endblock %}